      /*UNIVERSEL SELECTOR*/
      
      * {
          box-sizing: border-box;
      }
      /**********************************
GENERAL
**********************************/
      
      body {
          margin: 0;
          font-family: 'Roboto', sans-serif;
          line-height: 1.5;
      }
      
      .main-header {
          height: 850px;
          padding-top: 170px;
          /*background-image: url('../img/mountains.jpg');*/
          /*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
          background-color: gray;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
      }
      
      .main-header,
      .title {
          text-align: center;
      }
      
      .title {
          font-size: 1.625em;
          color: white;
          letter-spacing: .065em;
          font-weight: 200;
          border-bottom: 2px solid;
          padding-bottom: 10px;
      }
      
      .primary-content {
          text-align: center;
          padding-bottom: 95px;
      }
      
      .secondary-content {
          padding-top: 80px;
          padding-bottom: 70px;
          border-bottom: 2px solid red;
      }
      
      .primary-footer,
      .secondary-content {
          width: 75%;
          margin: auto;
          padding-right: 50px;
          padding-left: 50px;
          max-width: 900px;
      }
      
      .t-border {
          border-top: 2px solid aqua;
      }
      
      ul,
      ol {
          margin-left: 40px 0;
          margin-right: 40px 0;
      }
      
      li {
          margin-bottom: 20px;
      }
      
      img {
          width: 200px;
          margin-bottom: 20px;
          border-radius: 10px;
      }
      
      .can {
          /*padding-top: 100px;
       padding-right: 120px;
       padding-bottom: 100px;
       padding-left: 120px;*/
          padding: 18% 24%;
          /*two values first is for top and bottom. 2nd is for left and right*/
          border-width: 18px 20px;
          border-style: dashed;
          border-color: aqua;
          /*when 3 values. First one is the top. Second one is left and right. Third one is bottom */
          margin: 105px 0 60px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          /*Box shadows first value is horizontla 2nd in vertical 3rd blur 4rth is spread*/
          box-shadow: inset 0px 8px 50px 10px rgba(0, 0, 0, .8);
          border-radius: 10px;
      }
      
      .callout {
          font-size: 1.25em;
          border-bottom: 3px solid;
          padding: 0 9px 3px;
          margin-top: 20px;
          display: inline-block;
      }
      
      #main-footer {
          padding-top: 60px;
          padding-bottom: 60px;
          border-bottom: solid 10px aqua;
      }
      /**********************************
HEADLINE ELEMENTS
**********************************/
      
      h1 {
          font-size: 5.625em;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 1.3;
          /*Text shdows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is of the color of the shdow.*/
          text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
          margin: 12px 0 0;
      }
      
      h2 {
          font-size: 53px;
          text-decoration: underline;
          font-weight: normal;
          /*26px/53px*/
          margin-bottom: .5em;
      }
      
      h3 {
          font-size: 20px;
          margin-bottom: 1.7em;
          padding-left: 600px;
      }
      
      p {}
      /**********************************
FLOATED COLLUMS
**********************************/
      
      .you,
      .tips {
          width: 46.5%;
      }
      
      .resorts {
          float: left;
      }
      
      .tips {
          float: right;
      }
      
      .group:after {
          content: "";
          direction: table;
          clear: both;
      }
      /**********************************
COLORS
**********************************/
      
      body {
          color: #878787;
      }
      
      .title {
          color: whitesmoke;
      }
      
      .main-header {
          background-color: grey;
      }
      
      .can {
          color: white;
          background-color: gray;
      }
      
      ul li {
          color: gold;
      }
      
      h1 {
          color: white
      }
      
      h3 {
          color: #4852cc;
      }
      /*CSS PSEUDO*/
      
      a:link {
          color: green;
          text-decoration: none;
      }
      
      a:visited {
          color: lightblue;
      }
      
      a:hover {
          color: coral;
      }
      
      a:focus {
          color: white;
          background-color: red;
      }
      /**********************************
MEDIA QUERIES
**********************************/
      
      @media (max-width: 1024px) {
          .primary-content,
          .secondary-content {
              width: 90%;
          }
          .can {
              padding: 10%;
              margin: 50px 0 20px;
          }
      }
      
      @media (max-width: 760) {
          .primary-content,
          .secondary-content {
              width: 90%;
          }
          .can {
              padding: 10% 12%;
              margin: 50px 0 10px;
          }
      }
      
      @media (max-width: 760px) {
          .primary-content,
          .secondary-content {
              width: 100%;
              padding: 20px;
              border-top: none;
          }
          .main-header {
              max-height: 380px;
              padding: 50px 25px 0;
          }
          .title {
              font-size: 1.3rem;
              border: none;
          }
          h1 {
              font-size: 5 rem;
              line-height: 1.1;
          }
          .intro {
              font-size: 1rem;
          }
          .you,
          .tips {
              float: none;
              width: 100%;
          }
          .main-footer {
              padding: 20px 8;
          }
      }
      
      @media (max-width: 375px) {
          h1 {
              font-size: 3rem;
          }
      }